@charset "UTF-8";

/* リセットCSS */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

body {
  line-height: 1;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*==================================================
 # 基本設定
==================================================== */

body {
    background: #0b0c10;
    color: #fff;
    font-family:'Playfair Display', sans-serif, serif;
}

body.is-active{
  overflow: hidden;
}

section {
    width: 100%;
}

/*==================================================
 # タイトル
==================================================== */



.section-title {
	position: relative;
  font-size: 78px;
}

.section-title::after {
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	width: 120px;
	height: 1px;
	background-color: #73674c;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 36px;
  }

  .section-title::after {
    top: -10px;
    width: 80px;
  }
}



.section-title2 {
  position: relative;
}
.section-title2::after {
	content: '';
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 20%;
	height: 1px;
	background-color: #73674c;
}






/*========= レイアウトのためのCSS ===============*/

#wrapper p{
  padding:300px 0;
  text-align:center;
}

/*========= waveを描画するエリア設定 ===============*/




#wrapper{
 display: none;
}
#wrapper.is-active{
 display: block;
}
.wave.is-active{
  position: relative;
  z-index: 290;
  background: #15161a;
  margin-top: 120px;
}

.wave canvas{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}


.top-btn {
  /* position: relative; */

  position: fixed;
  top: 80%;
  right: 3%;
}

@media (max-width: 767px) {
  .top-btn {
    position: fixed;
    top: 90%;
    right: 3%;
  }
}

.scroll-btn{
    /*波紋の基点とするためrelativeを指定*/
  position: relative;
    /*波紋の形状*/
  display:inline-block;
  background:#333;
  width:50px;
  height:50px;
  border-radius: 50%;
  color:#ccc;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;

  
}

/*hoverした際の背景色の設定*/
.scroll-btn:hover{
  background:#666;  
}

/*波形を2つ設定*/
.scroll-btn::after,
.scroll-btn::before {
    content: '';
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -25%;
    top: -25%;
    /*波形の形状*/
    border: 1px solid #333;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation:1s circleanime linear infinite;
}

/*波形の2つ目は0.5秒遅らせてアニメーション*/
.scroll-btn::before {
    animation-delay:.5s; 
}

/*波形のアニメーション*/
@keyframes circleanime{
  0%{
    transform: scale(0.68);
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}

/*中央矢印*/
.scroll-btn span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 30%;
    left: 30%;
    /*矢印の形状*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent #ffffff transparent;
}




/*----------------------------
scroll_left ｜左から出現
----------------------------*/
.scroll_left {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.5s ease-in-out;
  transform: translateX(-30px);
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
}
.scroll_left.on {
  opacity: 1.0;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  transform: translateX(0);
}


/* ローディングアニメーション */

#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #15161a;
  text-align: center;

}



/*==================================================
 # header
==================================================== */

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 300;

  /* background: #0b0c10; */
  font-family:'Playfair Display', sans-serif, serif;
}
#header {
  transition: all 0.3s ease-out;
}


.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  max-width: 120px;

  position: fixed;
  top: 20px;
  left: 30px;
  /* transform: translateX(-50%); */
  z-index: 300;
  width: 70px;
  height: 50px;

  text-align: center;
}

.header-logo a {
  font-size: 26px;
  color: #fff;
}
.header-logo a span{
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.drawer-icon {
  position: fixed;
  top: 15px;
  right: 50px;
  z-index: 300;
  width: 100px;
  height: 50px;

  display: flex;
  align-items: center;
}

.drawer-icon-bars {

  width: 50%;
  height: 20px;
  display: block;
  position: relative;
  margin-left: 10px;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  top: 0;
  left: 0;

  transition: 0.5s ease 0s;
}

.drawer-icon-bar1 {
  top: 0;
}

.drawer-icon-bar2 {
  top: 8px;
}

.drawer-icon-bar3 {
  top: 16px;
}
.drawer-icon.is-active .drawer-icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;

}
.drawer-icon.is-active .drawer-icon-bar2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon-bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer-contents{
  width: 100%;
  position: relative;
}

.drawer-content {
  position: relative;
  transition: 0.5s ease 0s;
  display: none;

}

.drawer-content.is-active {
  display: block;
  color: #fff;

  height: 100%;


  background: #15161a;
  height: 70vh;
  width: 120%;

  position: absolute;
  top: 120px;
  left: -120px;

}

.drawer-content-item {
  margin-left: 300px;
  margin-top: 2%;
  
  position: relative;
}
.drawer-content-item a{
  color: #fff;
  font-size: 48px;

  display: block;
  position: relative;
  z-index: 300;
}


.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b0c10;
  z-index: 288;
  display: none;
}

.drawer-background.is-active {
  display: block;
}


/* レスポンシブ */

@media (max-width: 767px) {
  .header-logo {
    width: 70px;
    top: 20px;
    left: 10px;
  }
  .header-logo a span{
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .drawer-icon {
    top: 15px;
    right: 10px;
  }



  .drawer-content.is-active {
    width: 100%;
    left: 0px;
  }

  .drawer-content-item {
    margin-left: 20px;
    margin-top: 30px;
    
  }
  .drawer-content-item a{
    font-size: 30px;
  }
}

/*==================================================
 # top
==================================================== */

.top-contents {
  width: 100%;
  position: relative;
}

.top-bg{
  background-image: url(../img/cafe-top.jpg);
  background-position: 24% center;
  background-size: cover;
  
  height: 90vh;
  max-width: 80%;
  width: 100%;

  margin-left: auto;
}



  .top-bg::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
 
    margin-left: auto;
    width: 100%;
    height: 100%;
    display: block;
  }

.top-content {
    position: relative;
}

.top-content > h2 {
    font-size: calc(48px + 138 * ((100vw - 500px)/ 2500));
    display: block;
    /* z-index: 10; */
    position: absolute;
    top: 55%;
    left: 12%;

}

.top-content > img {
    width: 100%;
    margin-left: auto;
}

.top-title {
    color: #fff;
}



/*==================================================
 # news-contents
==================================================== */

.news-contents {
  width: 100%;
  position: relative;
}

.news-content {
  background: #73674c;
  padding: 2.5rem 1rem;
  width: 50%;
  font-size: 12px;

  display: flex;
  align-items: center;

  position: absolute;
  top: -30px;
  right: 0;
}




.news-time {
  color: #fff;
  font-size: 12px;
}

.news-text {
  padding-left: 5%;
  padding-right: 15%;
  position: relative;
  color: #fff;

  position: relative;

	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;

}


.news-text::after{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 5%;
	margin: auto;
	content: "";
	vertical-align: middle;
  transition: 0.5s ease 0s;
}

.news-text::after{
	right: 8%;
	width: 12px;
	height: 12px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.news-content:hover .news-text::after{
  right: 4%;
  }


/* レスポンシブ */

@media (max-width: 767px) {


.news-content {
  padding: 1rem .5rem;
  width: 90%;
  font-size: 10px;

  display: flex;
  align-items: center;

  top: 0px;
  right: 0;

}


.news-text::after{
	right: 8%;
	width: 8px;
	height: 8px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

}


@media (min-width: 768px) and (max-width: 1199px) {
  .news-content {
    padding: 1rem;
    width: 90%;
    font-size: 10px;

    top: 0px;
    right: 0;
  }
}

/*==================================================
 # right-contents
==================================================== */

.right-contents {
  position: relative;
  
  margin-top: 300px;
  }
  
  .right-content {
    background: #15161a;
    display: flex;
    justify-content: center;
    height: 75vh;
  
    /* ヘッダーのことを考えて */
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .right-contents .left-title {
    position: absolute;
  
    top: -30px;
    left: 150px;
  }
  
  .right-contents .right-title {
    position: absolute;
    top: -30px;
    right: 150px;
  }
  
  .right-text {
    width: 30%;
    padding: 0px 20px;
    margin-top: 120px;
  
    font-size: 14px;
    line-height: 2;
  }
  
  .right-images {
    width: 65%;

    padding: 0px 60px;
    margin-top: 120px;
  }
  
  .right-images > img {
    width: 100%;
    max-height: 600px;
  }


  /* レスポンシブ */

@media (max-width: 767px) {

  .right-contents {
    position: relative;
    
    margin-top: 150px;

    /* height: 70vh; */
    height: 100%;
    }

  .right-content {
    background: #15161a;
  
    display: block;
    justify-content: center;
    /* height: 50vh; */
    height: 100%;
  
    /* ヘッダーのことを考えて */
    padding-left: 10px;
    padding-right: 10px;
  } 
  .right-content div {
    padding-top: 30px;
  } 

  .right-contents .left-title {
    top: -20px;
    left: 10px;
  }

  .right-contents .right-title {
    top: -20px;
    right: 10px;
  }


  .right-text {
    width: 100%;
    padding:0px;
    margin-top: 0px;
    font-size: 12px;
    line-height: 2;
  }

  .right-images {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
  }



}


@media (min-width: 768px) and (max-width: 1199px) {
  .right-content {
    background: #15161a;
    height: 60vh;

    /* ヘッダーのことを考えて */
    padding-left: 10px;
    padding-right: 10px;
  } 

  .right-contents .left-title {
    left: 20px;
  }

  .right-contents .right-title {
    right: 20px;
  }

  .right-text {
    width: 100%;
    padding:0px 15px;
    font-size: 14px;
    line-height: 2;
  }

  .right-images {
    width: 100%;
    padding: 0px 10px;
  }
}


/*==================================================
 # menu-contents
==================================================== */

.menu-contents {
  position: relative;
  
  margin-top: 300px;
  padding: 10px 0;
  }
  
  .center-title {
    position: absolute;
  
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
   
  }
  
  .menu-content {
    padding-top: 60px;
    position: relative;
  }

  .menu-bg {
    background: #15161a;
    /* background: red; */
    height: 70vh;
    width: 100%;

    position: absolute;
    top: 0;
    z-index: -1;
  }
  
  .menu-inner {
    display: flex;
  
    padding: 60px 100px 0;
  }
  
  .menu-list {
    width: calc(100% / 3);
    margin: 0 5px;
  }
  
  .menu-images {
    width: 100%;
  }
  
  .menu-images img {
    width: 100%;
    height: 500px;
  }
  
  .menu-list p {
    margin-top: 20px;
    font-size: 16px;
  }
  .menu-list p:first-of-type {
    margin-top: 20px;
    font-size: 26px;
  }

  @media (max-width: 767px) {

    .menu-contents {
      margin-top: 150px;
      height: 100%;
      }

    .menu-content {
      padding-top: 60px;
    }


    .menu-bg {
      height: 50vh;
    }

    .center-title {
      top: -10px;
    }

    .menu-inner {
      padding:0;
    }

    .menu-images img {
      width: 100%;
      height: 150px;
    }

    .menu-list p {
      margin-top: 20px;
      font-size: 12px;
    }
    .menu-list p:first-of-type {
      margin-top: 20px;
      font-size: 20px;
    }

  }

  @media (min-width: 768px) and (max-width: 1199px) {

    .menu-inner {
      padding:0 10px;
    }

    .menu-images img {
      width: 100%;
      height: 400px;
    }

  }

/*==================================================
 # 共通リンクボタン
==================================================== */

.external-link {
  width: 200px;
  margin: 0 auto 0;

  padding-top: 60px;

  text-align: center;
}

.link-btn{
  /*線の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  color: #fff;
  
  padding: 1rem 2rem;

  text-decoration: none;
  outline: none;
  /*アニメーションの指定*/
  transition: all .3s;
  transition-delay: .7s;/*0.7秒遅れてアニメーション*/

  width: 100%;
  border: 1px solid #fff;
}

/*hoverした際の、ボタンの背景とテキスト色の変更*/
.link-btn:hover{
background:#73674c;
color: #fff;
border: none;
}

/*線の設定*/
.link-btn span{
  display: block;
}

/*横線の設定*/
.link-btn::before,
.link-btn::after{
  content:"";
  /*絶対配置で線の位置を決める*/   
  position: absolute;
  /*線の形状*/   
  width: 0;
  height: 1px;
  background: #73674c;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

/*縦線の設定*/
.link-btn span::before,
.link-btn span::after{
  content:"";
  /*絶対配置で線の位置を決める*/   
  position: absolute;
  /*線の形状*/
  width:1px;
  height:0;
  background: #73674c;
  /*アニメーションの指定*/
  transition: all 0.2s linear;
}

/*hoverした際、線が縦横100%伸びる*/
.link-btn:hover::before,
.link-btn:hover::after{
  width: 100%;
}
.link-btn:hover span::before,
.link-btn:hover span::after{
  height: 100%;
}

/*== 左下⇒右下⇒右上⇒左上⇒左下に枠線が伸びて塗りに */

/*左下から右下へ伸びる横線*/
.bordercircle::after{
  left: 0;
  bottom: 0;
}

/*右下から上へ伸びる縦線*/
.bordercircle span::after{
  right: 0;
  bottom: 0;
  transition-delay: 0.2s;
}

/*右上から左上へ伸びる横線*/
.bordercircle::before{
  right: 0;
  top: 0;
  transition-delay: 0.4s;
}

/*左上から左下へ伸びる横線*/
.bordercircle span::before{
  left: 0;
  top: 0;
  transition-delay: 0.6s;
}

@media (max-width: 767px) {

  .external-link {
    padding-top: 60px;
  }

}


/*==================================================
 # price-contents
==================================================== */


.price-contents {
  margin-top: 300px;
}

.price-content {
  background: #15161a;
  padding: 120px;
  height: 70vh;
  display: flex;
}

.price-content h2 {
  margin-right: 50px;
  margin-top: -50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #212121;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #212121;
}

th {
  text-transform: uppercase;
  background: #141518;
  padding: 1rem 0;
}

@media (max-width: 767px) {

  .price-contents {
    margin-top: 150px;
  }

  .price-content {
    background: #15161a;
    padding: 30px 10px 0;
    height: 40vh;
    display: block;

  }

  table {
  margin-top: 30px;
  font-size: 12px;
  }


}

@media (min-width: 768px) and (max-width: 1199px) {

  .price-contents {
    margin-top: 400px;
  }

  .price-content {
    background: #15161a;
    padding: 0px 10px 20px;
    height: 50vh;

  }

  table {
  margin-top: 30px;
  font-size: 12px;
  }

}


/*==================================================
 # access-contents
==================================================== */

.access-contents {
  margin-top: 300px;
}

.access-content {
  background: #15161a;
  display: flex;
}

.access-addr {
  width: 300px;

  display: block;
  margin: 0 auto;

  text-align: center;
  padding-top: 150px;
}

.access-addr h3 {
  margin-top: 10px;
  font-size: 32px;
}
.access-addr p {
  margin-top: 30px;
  font-size: 16px;
}


.map-link {
  margin-top: 100px;
  display: block;
  color: #fff;
}

.map {
  width: 65%;
}

iframe {
  width: 100%;
  height: 70vh;
}

@media (max-width: 767px) {

  .access-contents {
    margin-top: 150px;
  }
  .access-content {
    display: block;
  }

  .access-addr {
    padding-top: 30px;
  }

  .access-addr h3 {
    font-size: 26px;
  }
  .access-addr p {
    font-size: 12px;
  }

  .map {
    width: 100%;
    margin-top: 20px;
  }

  iframe {
    height: 250px;
  }

}

/*==================================================
 # contact-contents
==================================================== */

.contact-contents {
  margin-top: 300px;
}

.contact-content {
  background: #15161a;
  padding: 150px 0 100px;

}

.contact-inner {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.contact-inner h3 {
  margin-top: 10px;
  font-size: 32px;
}
.contact-inner p {
  margin-top: 30px;
  font-size: 16px;
}

.contact-link {
  margin-top: 100px;
  display: block;
  color: #fff;
}

@media (max-width: 767px) {

  .contact-contents {
    margin-top: 150px;
  }

  .contact-content {
    padding: 50px 0 30px;
  }

  .contact-inner h3 {
    margin-top: 10px;
    font-size: 26px;
  }
  .contact-inner p {
    margin-top: 20px;
    font-size: 12px;
  }

}



/*==================================================
 # footer
==================================================== */

.footer-contents {

}

.footer-content{
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-text a {
  color: #fff;
  position: relative;
}

.footer-text a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #ffffff;
  bottom: 20px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  }
  
  .footer-text a:hover::after {
  visibility: visible;
  bottom: -10px; /*アニメーションが止まる位置*/
  opacity: 1;
  }

.footer-inner{
  border-top: 1px solid #fff;
  padding: 2rem 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.footer-item p{
  font-size: 12px;
}

@media (max-width: 767px) {
  .footer-content{
    padding: 2rem 0rem;
  }
}
